body,html {
    font-family: 'Red Hat Text', sans-serif;
    text-align: center;
    width:100%;
    height:100%;
    margin:0;
    background-color: #1D1E28;
    background-image: url(/images/bg-stars.svg);
}

h1{
    color:white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

#background{
    position:absolute;
    bottom:0px;
    width:100vw;
}

#hill{
    width:100%;
    height:auto;
}

#stars{
    width:100%;
    height:auto;
}

#social{
    display: flex;
    list-style: none;
    justify-content: center;
}

.social-icons{
    margin:1em;
    width:20px;
    height:auto;
    bottom:1em;
}

#countdown{
    display:flex;
    justify-content: center;
    top:50vh;
}

.caption{
    text-transform: uppercase;
    color: #8385A9;
    font-size: 14px;
    letter-spacing: 5px;
}

.full-cards{
    height:140px;
    width:140px;
    background-color: #343650;
    border-radius: 10px;
    box-shadow: 0px 10px rgba(1,1,1,0.8);
}

.card-caption{
    margin:1em;
}