body,html {
    font-family: 'Red Hat Text', sans-serif;
    text-align: center;
    position:fixed;
    width:100%;
    height:auto;
    margin:0;
    background: rgb(29,30,40);
    background: linear-gradient(0deg, rgba(29,30,40,1) 0%, rgba(38,28,45,1) 50%, rgba(38,26,45,1) 100%);
}

h1{
    color:white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    margin:20vh auto 5em auto;
    z-index:2;
}

#background{
    position:fixed;
    bottom:0px;
    z-index: 1;
}

#hills{
    width:100%;
    height:auto;
}

#stars{
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background-repeat: repeat;
    background-image: url("../images/bg-stars.svg");
    z-index: 0;
}

#social{
    display: flex;
    position:fixed;
    z-index:3;
    list-style: none;
    bottom:5vh;
    width:10vw;
    left:42%;
}

.social-icons{
    margin:auto 12px;
    width:20px;
    height:auto;
}

#countdown{
    display:flex;
    justify-content: center;
    margin:10vh;
    height:auto;
}

.caption{
    text-transform: uppercase;
    color: #8385A9;
    font-size: 14px;
    letter-spacing: 5px;
    position: relative;
    top:-12em;
    z-index: 3;
}

.full-cards{
    height:140px;
    width:140px;
    background-color: #343650;
    border-radius: 10px;
    box-shadow: 0px 10px rgba(1,1,1,0.6);
}

.half-cards{
    height:70px;
    width:140px;
    background-color:rgba(1,1,1,0.15);
    position:relative;
    top:-140px;
    z-index: 2;
}

.card-caption{
    margin:1em;
    z-index: 2;
}

.card-circles-left{
    background-color: #191A23;
    height:12px;
    width:12px;
    border-radius: 6px;
    position:relative;
    top:-145px;
    left:-6px;
}

.card-circles-right{
    background-color: #191A23;
    height:12px;
    width:12px;
    border-radius: 6px;
    position:relative;
    top:-158px;
    left:134px;
}

.js-countdown{
    font-size: 80px;
    color: #FB5E84;
    position:relative;
    top:-217px;
}

/* Media Queries */

/*Mobile - 800px breakpoint */
@media screen and (max-width: 800px) {

    .full-cards{
        height:70px;
        width:70px;
    }
    
    .half-cards{
        height:35px;
        width:70px;
        top:-70px;
    }
    
    .card-circles-left{
        height:10px;
        width:10px;
        top:-76px;
        left:-6px;
    }
    
    .card-circles-right{
        height:10px;
        width:10px;
        top:-85px;
        left:64px;
    }
    
    .js-countdown{
        font-size: 40px;
        top:-115px;}


    .caption{
            font-size: 10px;
            letter-spacing: 5px;
            top:-6em;
            z-index: 3;
        }
}


/*Mobile - 480px breakpoint */

@media screen and (max-width: 480px) {

#countdown{
        max-width: 400px;
    }

.card-caption{
        margin:0em 1em;
    }

}